.NavBar{
    background: $primary;
    position: fixed;
    width: 160px;
    height: 100vh;
    padding: 30px 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    @include flex(column, flex-start, space-between);
    ul{
        padding-left: 0;
    }
    li{
        list-style: none;
    }
    @media (max-width: 480px) {
        width: 50px;
        transition: 0.5s all;
        &.slideOut{
            width: 150px;
        }
        &.slideOut .navMenuTitle{
            display: block;
        }
    }
}

.navIcon,
.loginBtn{
    @include flex(row, flex-start, space-between);
}
.navMenuTitle{
    color: white;
    text-transform: uppercase;
    @media (max-width: 480px) {
        display: none;
    }
}
.navLogo{
    width: 30px;
    margin-bottom: 15px;
}
.navIcon{
    width: 30px;
    margin-bottom: 30px;
    img{
        margin: 0;
        margin-right: 10px;
        height: 30px;
    }
}
.logInIntro{
    // color: white;
    // text-transform: uppercase;
    display: none;
    @media (max-width: 480px) {
        display: none;
    }
}